  <div class="show-banner" style="background-image: url(<%= cl_image_path @dimension.photo.key %>);">

  </div>

  <div class="show-content col-12">
    <div class="show-des col-sm-10 col-lg-7">
        <h1 class = "align-middle"><%= @dimension.title %></h2>
        <div class="card-show">
          <div class="card-show-infos">
            <h2> Category : <%= @dimension.category.name %></h2>
            <h3> <i class="fa-solid fa-rocket"></i>  What can you expect?</h1>
            <p> <%= @dimension.description %></p>
            
          </div>
          <%= link_to "Edit the dimension", edit_dimension_path %>
        </div>
    </div>

    <div class="show-booking col-sm-10 col-lg-4 col-xl-4 mb-6">
      <div class="booking-frame">
        <h3>Book this Dimension</h3>
        <%= render "bookings/form", booking: @booking%>
      </div>
    </div>
  </div>
