  <div class="confirmationnn">
    <h1>Booking Confirmed!</h1>

    <div class="card-confo d-flex p-10">
      <%= cl_image_tag @booking.dimension.photo.key, height: 150, width: 150, crop: :fill %>
      <div class="card-trip-infos p-10">
        <div>
          <h2>You have booked <%= @booking.dimension.title%></h2>

          <p> Starting on: <%= @booking.start_date %> and finishing on: <%= @booking.end_date %></p>
          <p> You booked the perks: <%= @booking.perks %></p>

        </div>
        <p class="card-trip-pricing">Guests: <%= @booking.guests%></p>
      </div>
    </div>
  </div>
