<div class="booking-table">
<table class="table col-12">
  <% if @bookings.where(user_id: @user.id).empty? %>
            <p>You have not booked anything yet.</p>
            <%= link_to "Explore our dimensions", dimensions_path, class: "btn btn-teal" %>
  <% else %>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Booking id</th>
        <th scope="col">Dimension selected</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Guests Number</th>
        <th scope="col">Your perks</th>
      </tr>
    </thead>
    <tbody class="booking-rows" >
    
    <% @bookings.where(user_id: @user.id).each do |booking| %>
        <tr>
          <th scope="row"><%= booking.id %></th>
          <td><%= booking.dimension.title %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= booking.guests%></td>
          <td><%= booking.perks %></td>
        </tr>
    <% end %>
  
  </tbody>
  <% end %>
</table>
</div>