<!DOCTYPE html>
<html>
  <head>
    <title>DimensionalHaul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    
    <div class="container col-12">
      <div class="container-header">
        <%# we will render the navbar from Gustavo here %>
      </div>

      <div class="container-content">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <%# we will render the footer from Gustavo here %>
      </footer>
    </div>
  </body>
</html>
