<!DOCTYPE html>
<html>
  <head>
    <title>DimensionalHaul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <div class="container col-12">
      <div class="container-header">
        <%= render "layouts/navbar" %>
      </div>

      <div class="container-content">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
